@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;
:root {
  --main-color: black;
  --sec-color: grey;
  --main-bg: white;
  --sec-bg: #c6538c;
}

$main-color: black;
$sec-color: grey;
@import "bulma";
@import "base";
@import "fonts";
@import "pages/team";
